{% extends "estoque/base.html" %}
{% block title %}Log de Movimentações{% endblock %}
{% block content %}
  <h1>Histórico de Estoque</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Data</th><th>Produto</th><th>Tipo</th><th>Qtd.</th>
      </tr>
    </thead>
    <tbody>
      {% for m in movs %}
      <tr>
        <td>{{ m.data|date:"d/m/Y H:i" }}</td>
        <td>{{ m.produto.nome }}</td>
        <td>{{ m.get_tipo_display }}</td>
        <td>{{ m.quantidade }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="4">Nenhuma movimentação registrada.</td></tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-success mb-3" href="{% url 'estoque:mov_novo' %}">Nova Movimentação</a>

  {% if is_paginated %}
    {% include 'estoque/pagination.html' %}
  {% endif %}
{% endblock %}
